.displayer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.displayer img {
  height: 600px;
  width: 500px;
  object-fit: cover;
  border-radius: 5px;
}

.showImage {
  margin-top: 15px;
}

.showImage:hover {
  text-decoration: underline;
  cursor: pointer;
}

.details {
  height: 600px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 20px;
  background-color: rgba(33, 33, 33, 0.95);
  position: relative;
  z-index: 2;
  border: 2px solid #333232;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.4s;
}

.details > div {
  color: white;
  font-weight: 600;
  text-shadow: 3px 3px 3px rgba(20, 20, 20, 1);
}

.details ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
}

.details > div span,
.details li {
  color: #f7b613;
}
