body {
  overflow-y: scroll;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style-type: none;
}

:root {
  --side-padding: 10%;
}

#root {
  padding: 20px var(--side-padding);
}

.itemList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

@media (max-width: 1250px) {
  #root {
    font-size: 95%;
  }
  :root {
    --side-padding: 5%;
  }
  .itemList {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}

@media (max-width: 650px) {
  #root {
    font-size: 90%;
  }
  :root {
    --side-padding: 5px;
  }
  .itemList {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
}
